<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Pocket Certificate</title>

		    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

		          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

			  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen" title="no title" charset="utf-8">


	</head>
	<body>
		<section id="header">
		{% include 'base/navbar.html' %}
		<div class="container"> 

		<div class="row my-auto">
			<div class="col s6 mt-5">
				<p>Your files ...</p>
				<h3 class="title">Safe and secure</h3>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut 
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
				</p>

				<div class="row">
					<a class="btn btn-medium orange" href="#">
						sign in </a>
					<a class="btn " href="#">sign up</a>
				</div>
			</div>

			<div class="col s6 bg-first">
			</div>


		</div>
		</div>
		</section>

		{% block content %}
		{% endblock %}

	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	</body>
</html>
